MNEMONIC=air hotel try fix forward please quality pluck horror this scrub van
DERIVATION_PATH=//hard1//hard2//foo

MNEMONIC_TESTNET=bag noise snack blanket grid receive wealth gauge minor fragile retreat taste
DERIVATION_PATH_TESTNET=

MNEMONIC_TESTNET_USER=temp temp temp temp temp temp temp temp temp tempt temp junk
DERIVATION_PATH_TESTNET_USER=